* {
    margin: 0;
    padding: 0;
    scrollbar-gutter: stable;
}

body {
    margin: 0;
    padding: 0 0 0 0;
    padding-top: 105px;
    background-color: #000000;
    line-height: 1.6;
    font-family: 'Manrope', 'Poppins', sans-serif;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 105px;
    width: 100%;
    padding: 0 60px;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px 0px rgba(38,35,35,0.6);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(38,35,35,0.6);
    -moz-box-shadow: 0px 2px 5px 0px rgba(38,35,35,0.6);
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 10;
}

.nav-container {
    width: 1308px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navbar-center {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0;
}

.navbar-center svg {
    display: flex;
    width: 204px;
    height: 33px;
    margin: 0;
}

.navbar-left, .navbar-right {
    display: flex;
    gap: 24px;
    color: white;
}

.navbar-left a, .navbar-right a {
    cursor: pointer;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    color: white;
    transition: opacity 0.3s;
    white-space: nowrap;
}

.navbar-left a:hover, .navbar-right a:hover {
    opacity: 0.8;
}

.navbar-right {
    align-items: center;
    padding: 0;
    margin: 0;
}

.get-started {
    align-items: center;
    background-color: #ffffff;
    color: #0A0A0A;
    width: fit-content;
    padding: 14px 34px;
    border-radius: 55px;
    font-weight: 700;
    font-size: 14px;
    white-space: nowrap;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s, transform 0.2s, padding-right 0.3s ease;
    position: relative;
}

.arrow {
    opacity: 0;
    font-size: 16px;
    position: absolute;
    visibility: hidden;
    transition: opacity 0.3s, margin-left ease 0.5s;
}

.get-started:hover .arrow{
    opacity: 1;
    visibility: visible;          
    margin-left: 10px;
}

.get-started:hover{
    opacity: 0.6;
    padding-right: 44px;
}

.get-started:active {
    transform: scale(0.98);
}

main {
    width: 100%;
    min-height: calc(100vh - 105px);
    display: flex;
    align-items: center;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 1099px;
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
    color: white;
    background-image: url(../assets/main-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

/* stars container */
.hero-section .stars {
    position: absolute;
    width: 98%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.stars svg{
    position: absolute;
    will-change: transform, opacity;
    animation: twinkle 2s ease-in-out infinite; 
    transform-origin: center;
}

/* stars position */
.stars .s-1{
    position: absolute;
    top: 15%; 
    left: 30%;
    animation-duration: 2s;
    animation-delay: -1.2s;
}

.stars .s-2{
    position: absolute;
    left: 5%;
    top: 2%;
    animation-duration: 1s; 
    animation-delay: -1.7s;
}

.stars .s-3{
    position: absolute;
    left: 70%;
    top: 10%;
    animation-duration: 2s; 
    animation-delay: -1.5s;
}

.stars .s-4{
    position: absolute;
    left: 20%;
    top: 40%;
    animation-duration: 1s; 
    animation-delay: -1.1s;
}

.stars .s-5{
    position: absolute;
    left: 5%;
    top: 70%;
    animation-duration: 2s; 
    animation-delay: -0.5s;
}

.stars .s-6{
    position: absolute;
    right: 2%;
    top: 30%;
    animation-duration: 1s; 
    animation-delay: -1.0s;
}

.stars .s-7{
    position: absolute;
    right: 13%;
    top: 70%;
    animation-duration: 2s; 
    animation-delay: -0.7s;
}

@keyframes twinkle {
  0%, 100%{
    opacity: 0.4;
    transform: scale(0.8);
    filter: drop-shadow(rgba(255, 255, 255, 0.8));
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
    filter: drop-shadow(rgba(255, 255, 255, 0.8));
  }
}

/* others */
.hero-main {
    max-width: 620px;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 28px;
    flex-direction: column;
    text-align: center;
    
}

.hero-main h1 {
    font-weight: 500;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: -1px;
    margin: 0;
}

.hero-main span {
    display: flex;
    font-size: 22px;
    color: white;
    font-weight: 600;
    line-height: 28px;
}

.hero-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -1.8%;
    width: 736px;
    margin-top: 28px;
    opacity: 0.7;
}
.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
    margin-top: 48px;
    width: fit-content;
    min-width: 412px;
    height: auto;
    z-index: 1;
}
.start-generating {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 234px;
    height: 52px;
    background-color: transparent;
    border: 1.4px solid #ffffff;
    color: #ffffff;
    padding: 14px 34px;
    border-radius: 55px;
    font-weight: 500;
    font-family: 'Poppins', 'Manrope', sans-serif;
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
    transition: opacity 0.3s, transform 0.2s;
}
.hero-buttons .start-generating svg {
    margin-left: 9px;
}

.start-generating:active{
    transform: scale(0.98);
}

.start-generating:hover {
    opacity: 0.5;
}
.download {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    border-radius: 55px;
    width: fit-content;
    min-width: 150px;
    height: 52px;
    padding: 14px 32px;
    white-space: nowrap;
    font-weight: 500;
    font-family: 'Poppins', 'Manrope', sans-serif;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s, transform 0.2s, padding-right 0.3s ease;
    position: relative;
}

.download .d-arrow {
    opacity: 0;
    display: inline-flex;
    max-width: 0;
    margin-left: 0;
    color: #000000;
    visibility: hidden;
    transition: opacity 0.3s ease, margin-left 0.5s ease;
}

.download:hover .d-arrow{
    opacity: 1;
    visibility: visible;          
    margin-left: 10px;
}

.download:hover {
    opacity: 0.5;
    padding-right: 45px;
}
.download:active {
    transform: scale(0.98);
}

.discover-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 244px;
    align-items: center;
    justify-content: center;
    gap: 124px;
}

.discover-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 244px;
    width: 100%;
}

.discover-text h1 {
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1px;
    align-self: center;
    color: white;
    text-align: center;
}

.discover-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    letter-spacing: -1.8%;
    width: 736px;
    margin-top: 28px;
    opacity: 0.6;
    text-align: center;
    color: white;
}

.discover-image {
    display: block;
    max-width: 100%;
    height: auto;
}

.discover-trending {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 28px;
    justify-content: center;
    margin: 235px auto 0;
    width: min(100%, 1309px);
    max-width: 1309px;
}

.trending-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: min(100%, 833px);
}

.trending-text h1 {
    margin: 0;
    align-self: center;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1%;
    color: white;
    text-align: center;
}

.trending-text p {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    letter-spacing: -1.8%;
    width: 736px;
    margin-top: 28px;
    opacity: 0.6;
    text-align: center;
    color: white;
}

.trending-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1309px;
    height: auto;
    margin-top: 124px;
}

.discover-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    min-width: 412px;
    margin-bottom: 0;
    margin-top: 0;
    height: 58px;
    gap: 28px;
}

.discover-buttons .start-generating svg{
    margin-left: 9px;
}

.gallery-main {
    font-family: 'Manrope', 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 328px;
    width: min(100%, 1309px);
    gap: 28px;
}

.gallery-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: min(100%, 833px);
    height: 171px
}

.gallery-text h1{
    margin: 0;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1%;
    color: white;
    text-align: center;
}

.gallery-text p{
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    letter-spacing: -1.8%;
    width: 736px;
    margin-top: 28px;
    opacity: 0.6;
    text-align: center;
    color: white;
}

.gallery-photo-main {
    background-color: rgba(14, 14, 14, 1);
    margin-top: 168px;
    width: min(100%, 1309px);
    border-radius: 7px;
    height: 689px;
}

.gallery-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: min(100%, 1222px);
    gap: 18px;
    border-radius: 7px;
    padding: 44px;
}

.gallery-small-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
    width: min(100%, 602px);
    height: 602px;
    border-radius: 6px;
}

.gallery-big-box {
    height: 602px;
}

.gallery-big-box img {
    width: 601px;
    height: 601px;
    border-radius: 6px;
}

.gallery-small-box img {
    width: 292px;
    height: 292px;
}

.gallery-big-box img, .gallery-small-box img, .trending-image img {
    transition: transform 0.3s;
}

.gallery-big-box img:hover, .trending-image img:hover {
    transform: scale(1.035);
}

.gallery-small-box img:hover {
    transform: scale(1.055);
}

.gen-audio-music-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Manrope', 'Poppins', sans-serif;
    margin-top: 328px;
    width: min(100%, 1310px);
}

.gen-text-box {
    margin-top: 244px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: min(100%, 795px);
    gap: 28px;
}

.gen-text-box h1{
    margin: 0;
    color: white;
    font-weight: 500;
    font-family: 'Manrope', 'Poppins', sans-serif;
    font-size: 48px;
    line-height: 53.43px;
    letter-spacing: -1%;
    text-align: center;
}

.gen-text-box p{
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    font-family: 'Poppins', 'Manrope', sans-serif;
    letter-spacing: -1.8%;
    opacity: 0.6;
    text-align: center;
    color: white;
}

.gen-main-box {
    margin-top: 124px;
    background-color: rgba(14, 14, 14, 1);
    width: min(100%, 1310px);
    height: 674px;
    padding: 44px;
    border-radius: 7px;
    gap: 18px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

.gen-box-video {
    width: 786px;
    height: 637px;
    background-image: url(../assets/video.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.box-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: min(100%, 618px);
    gap: 28px;
}

.box-text h1{
    color: white;
    font-weight: 500;
    font-size: 37px;
    line-height: 50px;
    letter-spacing: -1%;
}

.box-text p{
    font-family: 'Manrope', 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: -1%;
    color: white;
    opacity: 0.6;
}

.box-buttons {
    width: min(100%, 617px);
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 52px;
}

.box-buttons-row {
    display: flex;
    gap: 18px;
    align-items: center;
}

.box-buttons button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 14px 34px;
    border-radius: 36px;
    font-weight: 500;
    font-family: 'Poppins', 'Manrope', sans-serif;
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
    gap: 9px;
    transition: opacity 0.3s, transform 0.2s;
}

.box-buttons button:hover{
    opacity: 0.3;
}

.box-buttons button:active{
    transform: scale(0.98);
}

.box-buttons .unique{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: black;
    border-radius: 55px;
    width: 150px;
    height: 52px;
    white-space: nowrap;
    font-weight: 500;
    font-family: 'Poppins', 'Manrope', sans-serif;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.more-feature-main{
    display: flex;
    flex-direction: column; /* stack children vertically so text goes below header */
    width: 1309px;
    margin-top: 328px;
    align-items: stretch;
    gap: 28px;
}

.m-feature-header-text {
    color: white;
}


.m-feature-header-text h1 span{
    color: rgba(255,255,255,1); /* full opacity for span text */
}

.m-feature-header-text h1{
    font-weight: 500;
    font-size: 64px;
    line-height: 86.4px;
    letter-spacing: -1.82%;
    color: rgba(255,255,255,0.6); /* use color alpha instead of opacity */
}

.more-feature-body-main{
    margin-top: 28px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.m-f-text-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end; /* Aligns all children to the very bottom */
    width: min(100%, 1309px);
    height: auto;  
    border-top: 1px solid white;
}

.m-f-text h1{
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.8px;
    color: white;
}

.m-f-text {
    display: grid;
    margin-top: 61px;
    grid-template-columns: repeat(3, 1fr); /* three columns like the screenshot */
    flex-direction: column;
    gap: 154px;
    align-items: start;
    width: 100%;
    font-family: 'Manrope';
}

.m-f-text h1 {
    margin: 0 0 12px 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.8px;
    color: #ffffff;
    text-align: left;
}

.m-f-text p {
    font-weight: 500;
    font-size: 16px;
    color:rgba(130, 130, 130, 1);
    line-height: 29px;
    letter-spacing: -0.8px;
    text-align: left;
}

.g-s-journey-main{
    margin-top: 306px;
    background-image: url("../assets/g-discover.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 474px;
    border-radius: 19px;
    position: relative;
    width: min(100%, 1308px);
}

.g-s-journey-text{
    font-family: 'Manrope';
    position: absolute;
    display: grid;
    place-items: center;
    justify-content: start;
    width: 986px;
    padding: 108px 160px;
    gap: 58px;
    height: 256px;
}

.g-s-journey-text h2{
    display: block;
    text-align: center;
    color: white;
    -webkit-font-smoothing: antialiased;
    font-family: 'Manrope', 'Poppins', sans-serif;
    font-weight: 600;
    font-style: normal;
    width: fit-content;
    font-size: 48px;
    line-height: 75px;
    letter-spacing: -1%;
    margin: 0;
    padding: 0;
}

.g-s-journey-text .create-account{
    display: block;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 55px;
    width: 222px;
    height: 52px;
    padding: 14px 34px;
    line-height: 100%;
    font-weight: 500;
    letter-spacing: 0;
    white-space: nowrap;
    font-weight: 500;
    font-family: 'Poppins', 'Manrope';
    font-size: 14px;
    border: none;
    cursor: pointer;
    margin: 0;
    transition: opacity 0.3s, transform 0.2s;
}

.g-s-journey-text .create-account:hover{
    opacity: 0.5;
}

.g-s-journey-text .create-account:active{
    transform: scale(0.98);
}

footer {
    display: flex;
    background-image: url(../assets/footer.png);
    background-repeat: no-repeat;
    background-position: center center center;
    background-size: cover;
    border-top: 1px solid rgba(255 255 255 0.2);
    height: 678px;
    margin-top: 300px;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 32px;
}

.navigation-info {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 528px;
    height: 528px
}

.navi-top {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
    height: 192px;
}

.navi-top span{
    display: flex;
    align-items: start;
    color: white;
    opacity: 0.4;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0%;
}

.f-nav-container {
    display: flex;
    width: 287px;
    height: 160px;
    align-items: flex-start;
    justify-content: space-between;
    bottom: 0;
    gap: 90px;
}

.f-nav-container .first-row{
    gap: 6px;
    display: grid;
    grid-template-columns: 1fr;
    width: fit-content;
    height: auto
}

.f-nav-container .second-row{
    gap: 6px;
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    height: auto
}

.first-row a, .second-row a{
    color: white;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    width: fit-content;
}

.contact-info {
    width: 752px;
    height: 528px;
}

.f-nav-container nav a {
    display: block;
    text-decoration: none;
    color: white;
    white-space: nowrap;
}

.copyright-down {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: auto;
    padding-top: 20px;
    width: 100%;
    height: 90px;
    gap: 5px;
}

.copyright-down span{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 0.4);
}

.contact-info {
    gap: 64px;
}

.cont-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    height: auto;
}

.cont-top .head{
    display: flex;
    align-items: start;
    color: white;
    opacity: 0.4;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0%;
}

.f-contact-text {
    display: flex;
    width: 287px;
    height: 160px;
    align-items: flex-start;
    justify-content: space-between;
    bottom: 0;
    gap: 96px;
    height: 45px;
    width: fit-content;

    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    color: white;
}

.contact-email {
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}


